<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Hello World</title>

   <style>
      body {
        font-family: sans-serif;
        padding: 10px;
      }
      input[type=text] {
          padding:5px;
          border:2px solid #ccc;
          border-radius: 5px;
      }
      input[type=text]:focus {
          border-color:#333;
      }
      input[type=submit] {
          padding:5px 15px;
          background:#ccc;
          border:0 none;
          cursor:pointer;
          border-radius: 5px;
      }

    </style>
 </head>
  <body>
   <h1> My Form: {{name}}</h1>

   <form action="/result" method="post">
     First name:<br>
     <input type="text" name="firstname" value="Mickey"><br>
     <br>

     Last name:<br>
     <input type="text" name="lastname" value="Mouse"><br><br>

     place:<br>
     <input type="text" name="place" value="Berlin"><br><br>
     <input type="submit" value="Abspeichern">
   </form>

 </body>
</html>
